/* Global */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

img {
    width: 100%;
}

/* HEADER */
header {
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 20px 0;
}

.nav a {
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}

#cart-icon {
    font-size: 1.8rem;
    cursor: pointer;
}

/* CART */
.cart {
    position: fixed;
    top: 0;
    /* right: 0; */
    right: -100%;
    width: 360px;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 20px;
    background-color: white;
    box-shadow: -2px solid 4px hsl(0 4% 15% / 10%);
    border: 1px solid black;
    transition: 1.5s;
}

.cart.active {
    right: 0;
    transition: .5s;

}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box{
    display: grid;
    row-gap: .5rem;
}

.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-price{
    font-weight: 500;
}

.cart-quantity{
    border: 1px solid black;
    outline-color: red;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove{
    font-size: 24px;
    color: red;
    cursor: pointer;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
}

.total-title{
    font-size: 1rem;
    font-weight: 600;
}

.total-price{
    margin-left: .5rem;
}

.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover{
    background-color: black;
    color: white;
}

#cart-close{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 1.3rem;
    color: black;
    cursor: pointer;
}







/* SHOP SECTION */

.section-title {
    font-style: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.product-box {
    position: relative;
    padding: 15px;
}

.product-box:hover {
    padding: 20px;
    border: 1px solid grey;
    transition: .4s;
    border-radius: 5px;
}

.product-image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: .5rem;
}

.product-type {
    font-size: .8rem;
    text-transform: uppercase;
}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.product-price {
    font-weight: 500;
}

#addCart {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px 0px 0px 0px;
}

#addCart:hover {
    background-color: hsl(249, 32%, 17%);
}